@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



html, body {
  margin: 0;
  padding: 0;
}
canvas {
  margin-left:50%;
  height:100%;
    width:40%;
}


h1{
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}

h2{
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}

table{
  font-family: "Arial", Times, serif;
}

td{
  padding-right:20px;
}

th{
  padding-right:20px;
  color:darkred;
}

table{
display:none;
  float:left;
  position:absolute;
  width:50%;
  top:30%;
  padding-left:9.9%;
}

div{
  position:fixed;
  margin-left:40%;
  padding-top:10%;
  display:none;
}

strong{
  color:red;
}

::selection{
  background-color:red;
  color:white;
}

button{
  position:absolute;
  top:15%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding:9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left:10%;
}


p{
  margin-top:10%;
  margin-left:55%;
}
